<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.manage.mapper.SkuSaleAttrValueMapper">

	<resultMap id="spuSaleAttrListCheckBySkuMap" type="com.atguigu.gmall.entity.PmsProductSaleAttr" autoMapping="true">
		<id property="id" column="pas_id"></id>
		<collection property="spuSaleAttrValueList"  ofType="com.atguigu.gmall.entity.PmsProductSaleAttrValue" autoMapping="true">
			<id property="id" column="psav_id"></id>
		</collection>
	</resultMap>


    <select id="selectSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrListCheckBySkuMap">
       SELECT
			psa.*,
			psa.id pas_id,
			psav.*,
			psav.id psav_id,
  	   IF
			( pssav.sku_id, 1, 0 )  isChecked
		FROM
			pms_product_sale_attr psa
			INNER JOIN pms_product_sale_attr_value psav ON psa.product_id = psav.product_id
			AND psa.sale_attr_id = psav.sale_attr_id
			LEFT JOIN pms_sku_sale_attr_value pssav ON pssav.sale_attr_id = psa.sale_attr_id
			AND pssav.sale_attr_value_id = psav.id
			AND pssav.sku_id = #{skuId}
		WHERE
			psa.product_id = #{productId}
    </select>




</mapper>